.App {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.box {
  border-bottom: 3px solid black;
  background-color: aqua;

  height: 200px;
}

.first {
  height: 100vh;
}

.loader {
  background-color: rebeccapurple;

  font-size: 20px;

  height: 100px;
}
